<section class="mb-4">
  <app-product-banner></app-product-banner>
</section>


<section class="mb-4">
  <app-product-advetisement></app-product-advetisement>
</section>

<section class="mb-4">
  <app-product-carousel></app-product-carousel>
</section>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p>Filter :
      <mat-form-field class="col-md-4">
        <mat-label>Filter Product</mat-label>
        <mat-select (selectionChange)="applyFilter($event)">
          <mat-option *ngFor="let filter of filters" [value]="filter.value">
            {{filter.viewValue}}<mat-icon class="float-right">{{filter.icon}}</mat-icon>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="row">
  <div *ngFor="let item of products$" class="col-md-3 mb-4">
    <div i18n class="card">
      <div class="imgdiv" width="150px" height="150px">
        <img [src]="'../../../../assets/img/product/'+item.img" class="pro-img" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.desc}}</p>
      </div>
      <div class="card-body border-top pt-2">
        <div class="row">
          <div class="col-md-12">
            <span class="_1xZuAn">Offers</span>
            <span>No Cost EMI & 2 More</span>
          </div>
          <div class="col-md-4 price">Rs. {{item.price}}</div>
          <div class="col-md-4 qty">Qty {{item.qty}}</div>
          <div class="col-md-4"><button (click)="addToCart(item)" class="btn btn-dark btnCart"><i
                class="fa fa-cart-plus fa-lg"></i></button></div>
        </div>
      </div>
    </div>
  </div>
</div>