.pro-img {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  /* opacity: 0; */
  max-width: 100%;
  max-height: 100%;
}
.imgdiv {
  position: relative;
  margin: 0 auto;
}

.imgdiv img {
  padding-top: 10px;
  width: auto;
  height: 150px;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price,
.qty {
  color: #388e3c;
  padding-top: 10px;
}
._1xZuAn {
  color: #388e3c;
  margin-right: 5px;
  font-weight: 500;
}

.btnCart,
.btnLine {
  border: none;
}


.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

