<section class="mb-4">
  <app-product-banner></app-product-banner>
</section>

<section class="mb-4">
  <app-product-advetisement></app-product-advetisement>
</section>

<section class="mb-4">
  <app-product-carousel></app-product-carousel>
</section>

<div class="jumbotron jumbotron-fluid mb-4 p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p>
          <!-- <b>Sort By</b> : -->
          <mat-form-field class="col-md-12">
            <mat-label>Filter Product by category</mat-label>
            <mat-select (selectionChange)="applyFilter($event)">
              <mat-option *ngFor="let filter of filters" [value]="filter.value">
                {{ filter.viewValue
                }}<mat-icon class="float-right">{{ filter.icon }}</mat-icon>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>
      <div class="col-md-3">
        <button class="btn btn-dark btnLine mr-3" (click)="priceQualityFilter('hight')">
          <mat-icon>flight_takeoff</mat-icon>Price -- Low to High
        </button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-dark btnLine" (click)="priceQualityFilter('low')">
          <mat-icon>flight_land</mat-icon> Price -- High to Low
        </button>
      </div>
      <div class="col-md-3">
        <form class="example-form">

          <mat-form-field class="example-full-width">
            <!-- <span matPrefix>+1 &nbsp;</span> -->
            <input type="text" matInput placeholder="General Search">
            <mat-icon matSuffix>youtube_searched_for</mat-icon>
          </mat-form-field>

        </form>

      </div>
    </div>
  </div>
</div>

<ng-template [ngIf]="currentFilter === 'FW' || currentFilter === 'FA'">
  <mat-toolbar class="mb-2">
    <label class="mr-2">Filter By</label>
    <mat-radio-group aria-label="Select an option" (change)="genderFilter($event)">
      <mat-radio-button value="m">
        <mat-icon>directions_run</mat-icon>
      </mat-radio-button>
      <mat-radio-button value="f">
        <mat-icon>pregnant_woman</mat-icon>
      </mat-radio-button>
      <mat-radio-button value="all" [checked]="true">
        <mat-icon>calendar_view_day</mat-icon>
      </mat-radio-button>
    </mat-radio-group>
  </mat-toolbar>
</ng-template>

<div class="row">
  <div *ngFor="let item of products$" class="col-md-3 mb-4">
    <div class="card">
      <ng-template [ngIf]="item.discount">
        <p class="float-left mb-0 offer-icon" [ngStyle]="{ color: '#2874f0' }">
          <mat-icon matTooltip="Discount (5%)">local_offer</mat-icon>
        </p>
      </ng-template>
      <!-- <ng-template [ngIf]="!item.discount">
        <p class="float-right h-4" [ngStyle]="{ color: 'white' }">
          <mat-icon>local_offer</mat-icon>
        </p>
      </ng-template> -->

      <div class="imgdiv" width="150px" height="150px">
        <img [src]="'../../../../assets/img/product/' + item.img" class="pro-img" alt="..." />
      </div>
      <div class="outof-stock" [ngStyle]="{ display: item.qty === 0 ? 'block' : 'none' }">
        <span class="outof-stock-title">Out Of Stock</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.desc }}</p>
      </div>
      <div class="card-body border-top pt-2">
        <div class="row">
          <div class="col-md-12">
            <span class="_1xZuAn">Offers</span>
            <span>No Cost EMI & 2 More</span>
          </div>
          <div class="col-md-8 price">
            <ng-template [ngIf]="item.discount">
              <p class="discount-price mr-1">
                ₹{{ item.price - (item.price * discountRate) / 100 }}
              </p>
            </ng-template>
            <ng-template [ngIf]="!item.discount">
              <p class="discount-disable-price mb-0">₹{{ item.price }}</p>
            </ng-template>
          </div>
          <div class="col-md-4 mt-1">
            <button (click)="addToCart(item)" [ngStyle]="{ display: item.qty === 0 ? 'none' : 'block' }"
              class="btn btn-dark btnCart">
              <i class="fa fa-cart-plus fa-lg"></i>
            </button>
          </div>

          <div class="col-md-12">
            <ng-template [ngIf]="item.discount">
              <span class="orignal-price mr-2">₹ {{ item.price }}</span>
              <span class="save-rs">Save ₹{{ (item.price * discountRate) / 100 }}&nbsp;(5%)</span>
            </ng-template>
            <ng-template [ngIf]="!item.discount">
              <span>Note: No Discount Available.</span>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>