.pro-img {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  /* opacity: 0; */
  max-width: 100%;
  max-height: 100%;
}
.imgdiv {
  position: relative;
  margin: 0 auto;
}

.imgdiv img {
  padding-top: 10px;
  width: auto;
  height: 150px;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price,
.qty {
  color: #388e3c;
  padding-top: 10px;
}
._1xZuAn {
  color: #388e3c;
  margin-right: 5px;
  font-weight: 500;
}

.btnCart,
.btnLine {
  border: none;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.outof-stock {
  width: 90%;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  padding: 10px 15px;
  text-transform: uppercase;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 56%;
  height: 55px;
}

.outof-stock-title {
  color: #ff6161;
}

/* discount */

.discount-price,
.discount-disable-price {
  font-weight: bold;
  font-size: 16px;
}

.discount-price {
  color: #2874f0;
}

.offer-icon {
  position: absolute;
  z-index: 1;
}

.orignal-price {
  text-decoration: line-through;
}

.blurImg {
  filter: blur(5px) grayscale(20%);
}

.productFilterLink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.categoryMenu{
    border: none;
    background-color: white;
}
