<h5>Deals of the Day</h5>
<div id="carouselProdctCard" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div
      class="carousel-item"
      [ngClass]="{ active: i === 0 }"
      *ngFor="let item of slides; let i = index"
    >
      <div class="row">
        <div
          [class]="'col-md-' + boostrapDiv"
          *ngFor="let data of item; let cardIndex = index"
        >
          <div class="card">
            <div class="imgdiv" width="150px" height="150px">
              <img
                [src]="'../../../../assets/img/product/' + data.img"
                class="pro-img"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ data.title }}</h5>
              <p class="card-text">
                {{ data.desc }}
              </p>
            </div>
            <div class="card-body border-top pt-2">
              <div class="row">
                <div class="col-md-12">
                  <span class="_1xZuAn">Offers</span>
                  <span>No Cost EMI & 2 More</span>
                </div>
                <div class="col-md-8 price">From ₹{{ data.price | number:'1.2-2' }}</div>
                <div class="col-md-4">
                  <img class="tradMArkIcon" src="../../../../assets/img/product/tradmark.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselProdctCard"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselProdctCard"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
